html,body
{
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  scroll-behavior: smooth;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  color: $main-color;
}
// --------------scrolling text-----------------
.text-wrap {
  display: flex;
  width: 100%;
}
.latest-news {
  width: 10rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
}
.news {
  background-color: black;
  color: white;
  line-height: 42px;
  // font-size: 20px;
}
.marquee {
  width: calc(100% - 10rem);
  line-height: 40px;
  background-color: rgba(169, 130, 15, .8);
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  position: absolute;
  right: 0;
}
.marquee p {
  margin: auto 0;
  font-size: 20px;
  display: inline-block;
  padding-left: 100%;
  animation: marquee 35s linear infinite;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}
// --------------------------------------------
#myVideo {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 100%;
  z-index: -1;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  object-fit: cover;
  background-color: #066579;;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  text-align: center;
  margin: 0!important;

}
.banner-logo {
  width: 500px;
}
#opening-text{
  margin-top: 20px;
}
.text-big {
  text-align: center;
  padding: 60px;
  h2 {
    font-size: 4.5em;
    color: $main-color;
  }
  p {
    font-size: 2em;
    color: $main-color;
    opacity: 0.8;
  }
}

.lg-photos {
  width: 100%;
  height: auto;
}

//--------- css grid of pics-----------------
.big-text {
  font-size: 7em;
}
.grid-box-long {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  background-size: auto;
  background-position: center;
  position: relative;
  margin-top: 0px;
}
.grid-box-image-long {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.grid-box-long:hover .grid-box-image-long{
  transform: scale(1.1);
}
.box-long-padding{
  padding-right: 22px;
  padding-left: 0px;
}
.box-top-right {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 420px;
  overflow: hidden;
}
.box-top-right-image {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  object-fit: cover;
}
.box-top-right:hover .box-top-right-image{
  transform: scale(1.1);
}
.box-tr-padding {
  margin-bottom: 20px;
  padding-left: 22px;
  padding-right: 0px;
}
.box-bottom-left {
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.box-bottom-left-image {
  width: 100%;
  height: 291px;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}
.box-bottom-left:hover .box-bottom-left-image{
  transform: scale(1.1);
}
.grid-bottom {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}
.grid-bottom-image {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
  object-fit: cover;
}
.grid-bottom:hover .grid-bottom-image{
  transform: scale(1.1);
}
.grid-bottom-padding {
  padding-right: 15px;
}
.text-inner {
  background: rgba(6, 101, 121, 0.8);
  width: 100%;
  text-align: center;
  padding-top: 10px;
  font-size: 16.5px;
  color: $second-color;
  position: absolute;
  top: 0;
  left: 0;
}
.text-inner-box3 {
  background: rgba(169, 130, 15, .8);
  width: 100%;
  font-size: 16.5px;
  text-align: center;
  padding-top: 10px;
  color: $second-color;
  position: absolute;
  bottom: 0;
  left: 0;
}
.text-inner-box2 {
  background: rgba(6, 101, 121, 0.8);
  width: 40%;
  text-align: center;
  padding-top: 10px;
  color: $second-color;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.text-inner-box {
  background: rgba(169, 130, 15, .8);
  width: 40%;
  text-align: center;
  padding-top: 10px;
  color:  $second-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}

.wrap{
  padding: 0;
  margin: 0 !important;
}

// ---------------------contacts div----------------------
.contact-us-text {
  margin-top: 30px;
  margin-bottom: 0;
  color: #066579;
  font-size: 1.8em;
}
.contacts {
  display: flex;
  color: $main-color;
  justify-content: space-around;
  padding: 20px;
  ul {
    padding-left: 0;
    list-style: none;
    margin-bottom: 30px!important;
    strong {
      font-size: 24px;
    }
  }
}
.inline {
  padding-top: 0!important;
}
.form {
  display: flex;
  flex-direction: column;
  border: 2px solid $main-color;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  label {
    color: $main-color;
    font-size: 18px;
  }
  input {
    background-color: rgb(250,250,250);
    border-radius: 10px;
    width: 80%;
    border: 2px solid $main-color;
  }
  .text-area {
    width: 80%;
    background-color: rgb(250,250,250);
    border-radius: 10px;
    border: 2px solid $main-color;
    height: 80px;
  }
}

.map-wrapper {
  border:5px solid $main-color;
  border-radius: 5px;
  height:230px;
  margin-left: 160px;
}




// ------back to top---------------------------
.back-to-top {
color: $main-color;
font-size: 4em;
z-index: 22;
position: fixed;
bottom: 10px;
right: 20px;
}

// -------------media query breakpoints-------


/* Small devices (portrait tablets and large phones, 600px and upto 768px) */
@media only screen and (min-width: 600px) and (max-width: 768px){
  .banner-logo {
    width: 300px;
  }
  .text-big {
    padding: 20px;
    h2 {
      font-size: 2.5em;
    }
    p {
      font-size: 1.2em;
    }
  }
  .grid-box-long {
    margin-bottom: 20px;
  }
  .box-bottom-left {
    margin-top: 20px;
  }
  .box-bottom-left-image {
    height: 100%;
    object-fit: cover;
  }
  .grid-bottom {
    margin-top: 20px;
  }
  .box-tr-padding {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  .box-long-padding {
    padding-right: 0px;
    padding-left: 0px;
  }
  .grid-bottom-padding {
    padding-right: 15px;
  }
  .text-inner-box {
    width: 39%;
    padding: 10px 0px;
    font-size: 14.5px;
  }
  .text-inner-box2 {
    width: 39%;
    padding: 35px 0px;
    font-size: 14.5px;
  }
  .text-inner {
    font-size: 14.5px;
  }
  .text-inner-box3 {
    font-size: 14.5px;
  }
  .back-to-top {
    font-size: 2.9em;
  }
  .map-wrapper {
    border:5px solid $main-color;
    height:230px;
    width: 410px;
  }
  .contacts {
    display: block;
    padding: 30px;
    text-align: center;
  }
  .form {
    width: 70%!important;
  }
}
/* Very smallest devices (phones, 440px and down) */

@media only screen and (max-width: 440px) {
  .form {
    width: 100%!important;
    // margin: 0;
    input {
      width: 90%;
    }
    .text-area {
      width: 90%;
    }
  }
  .map-wrapper {
    width: 280px;
  }
  .inline {
    margin-bottom: 20px;
  }
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .latest-news {
  width: 7rem;
  }
  .marquee {
    width: calc(100% - 7rem);
  }
  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner-logo {
    width: 240px;
  }
  #opening-text {
    margin-top: 25px;
  }
  .text-big {
    padding: 30px;
    h2 {
      font-size: 1.4em;
    }
    p {
      font-size: 1em;
    }
  }
  .grid-box-long {
    width: 100%;
    margin-top: 0px;
  }
  .box-top-right {
    height: 334px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .box-bottom-left {
    margin-top: 20px;
    width: 100%;
  }
  .grid-bottom {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  .text-inner-box2 {
    width: 44%;
    font-size: 12px;
    padding: 40px 0px;
  }
  }.text-inner-box {
    width: 44%;
    padding: 20px 0px;
    font-size: 12px;
  }
  .text-inner {
    padding-top: 10px;
    font-size: 12px;
  }
  .text-inner-box3 {
    font-size: 12px;
  }
  .box-long-padding{
    padding-right: 0px;
    padding-left: 0px;
  }
  .box-tr-padding{
    padding-left: 0px;
    margin-bottom: 0px;
  }
  .grid-bottom-padding {
    padding-right: 15px;
  }
  .back-to-top {
    font-size: 2.6em;
  }
  .map-wrapper {
    border:5px solid $main-color;
    height:230px;
    margin: 0 auto;
  }
  .contacts {
    display: block;
    padding: 30px;
    text-align: center;
  }
  .form {
    width: 100%;
    margin-top: 30px;
  }
/* LANDSCAPE: Extra small devices (phones, 600px and down) */
@media only screen and (max-device-height: 420px)
{
  #myVideo {
    height: 125vh;
  }
  .form {
    width: 100%;
    input {
      width: 90%;
    }
    .text-area {
      width: 90%;
    }
  }
}



/* Medium devices (portrait-mode tablets, 768px and up) */
@media screen and (min-width: 768px) and (orientation: portrait){
  .banner {
    height: 85vh;
  }
  .grid-bottom{
    margin-top: 20px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .banner-logo {
    width: 400px;
  }
  .text-big {
    padding: 30px;
    h2 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.5em;
    }
  }
  .grid-bottom {
    margin-top: 20px;
  }
  .box-long-padding{
    padding-right: 0px;
    padding-left: 0px;
  }
  .box-tr-padding{
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  .box-bottom-left {
    margin-top: 20px;
    width: 100%;
  }
  .box-bl-padding {
    padding-right: 15px;
  }
  .box-bottom-left-image {
    height: 430px;
    object-fit: cover;
  }
  .grid-bottom-padding {
    padding-right: 15px;
  }
  .text-inner-box {
    width: 45%;
    padding: 5px 0px;
    font-size: 16.5px;
  }
  .text-inner {
    font-size: 16.5px;
  }
  .text-inner-box3 {
    font-size: 16.5px;
  }
  .text-inner-box2 {
    padding-top: 33px;
    font-size: 16.5px;
    width: 45%;
  }
  .back-to-top {
    font-size: 3.2em;
  }
  .map-wrapper {
    border:5px solid $main-color;
    height:230px;
    width: 410px;
    margin-left: auto;
  }
  .contacts {
    display: block;
    padding: 30px;
    text-align: center;
  }
  .form {
    width: 50%;
  }
}

/* Large devices (laptops/desktops - portrait mode, 992px and up) */
@media screen and (min-width: 992px) and (orientation: portrait) {
  .banner {
    height: 94vh;
  }
}
/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
  body {
    overflow-x: hidden;
  }
  .banner-logo {
    width: 400px;
  }
  .text-big {
    padding: 60px;
  }
  .box-bottom-left {
    margin-top: 0px;
    object-fit: cover;
  }
  .box-bottom-left-image {
    height: 290px;
    object-fit: cover;
  }
  .box-bl-padding {
    padding-right: 8px;
  }
  .grid-bottom {
    margin-top: 0px;
  }
  .box-long-padding {
    padding-right: 22px;
    padding-left: 0px;
  }
  .box-bl-padding {
    padding-top: 0px;
  }
  .grid-bottom-padding {
    padding-right: 7px;
  }
  .text-inner-box {
    padding-top: 22px;
  }
  .back-to-top {
    font-size: 3.5em;
  }
  .map-wrapper {
    border:5px solid $main-color;
    border-radius: 5px;
    height:230px;
    width: 410px;
    margin-left: 60px;
  }
  .contacts {
    display: flex;
    color: $main-color;
    justify-content: space-around;
    padding: 30px 70px;
    text-align: left;
      .map-wrapper {
        margin-left: auto;
        margin: auto 0;
      }
      .wrap-address {
        margin: auto 0;
      }
  }
  .form {
    width: 100%;
    margin-left: auto;
    margin-top: 0;
    margin-right: 75px;
  }
}
/*Internet Explorer specific-size */
@media all and (-ms-high-contrast: none),(-ms-high-contrast: active) {
  #myVideo {
    height: 116vh;
  }
  .banner {
    height: 97vh;
  }
  html,body {
  display: auto;
  }
}

// -----------------------------------------------------------------

