// Specific CSS for your home-page
.banner {
   // background-image: url("banner-img.jpeg") no-repeat;
  // background: linear-gradient(180deg,#22263f,rgba(33,41,94,.96));
  background-image:linear-gradient(rgba(27,36,81,.6), rgba(27,36,81,.4)),url("banner-img.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  h1 {
    color: white;
  }
}
.text-big {
  width: 100%;
  margin: 50px auto;
  text-align: center;
   h2 {
    font-size: 7em;
   }
   p {
    font-size: 3em;
    color: rgb(100, 100 ,100);
   }
}
.photos-divs {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.pic-1 {
background-image:url("ppl-shakehands.jpeg");
}
.pic-2 {
background-image: url("team-agreed.jpeg");
}
.pic-3 {
background-image: url("team-meeting.jpeg");
}
.pic-4 {
background-image: url("team-table.jpeg");
}
.big-text {
font-size: 7em;
}


















