// Specific CSS for your home-page
body[data-aos-duration='10000'] [data-aos],
  [data-aos][data-aos][data-aos-duration='10000'] {
    transition-duration: 10000ms;
  }
  // neeed to change the timing of AOS
  #myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100vw;
  z-index: -1;
  height: 100%;
  object-fit: cover;
}

.banner {
  // background-image:linear-gradient(rgba(27,36,81,.6), rgba(27,36,81,.4)),url("banner-img.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  h1 {
    color: $second-color;
    font-size: 5em;
    padding-bottom: 100px;
  }
}
.text-big {
  width: 100%;
  margin: 50px auto;
  text-align: center;
   h2 {
    font-size: 4.5em;
    color: $main-color;
   }
   p {
    font-size: 2em;
    color: $main-color;
    opacity: 0.5;
   }
}
// css grid of pics

.photos-divs {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 600px;
}
.box-image-long {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
  transform: scale(1);
}

.pic-1 {
background-image:url("ppl-shakehands.jpeg");
}
.pic-2 {
background-image: url("team-agreed.jpeg");
}
.pic-3 {
background-image: url("team-meeting.jpeg");
}
.pic-4 {
background-image: url("team-table.jpeg");
}
.big-text {
font-size: 7em;
}

.box-image {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease-in-out;
}
.box1:hover .box-image{
  transform: scale(1.1);
}
.box3:hover .box-image{
  transform: scale(1.1);
}
.box:hover .box-image-long{
  transform: scale(1.1);
}
.box {
  width: 100%;
  height: 200px;
  margin: 20px auto;
  overflow: hidden;
  background-size: auto;
  background-position: center;
  position: relative;
}

.box1 {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 420px;
  margin-top: 20px;
  overflow: hidden;
}

.box3 {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 290px;
  overflow: hidden;
}

.text-inner {
  background: rgba(100, 162, 205, .8);
  width: 100%;
  text-align: center;
  padding: 30px;
  color: $second-color;
  position: absolute;
  top: 0;
  left: 0;
}
.text-inner-box3 {
  background: rgba(200, 62, 105, .8);
  width: 100%;
  text-align: center;
  padding: 30px;
  color: $second-color;
  position: absolute;
  bottom: 0;
  left: 0;
}
.text-inner-box {
  background: rgba(169, 130, 15, .8);
  width: 35%;
  text-align: center;
  padding: 30px;
  color: $second-color;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.box1:hover {
    background-size: contain;
    background-repeat: no-repeat;

  }


// contacts div
.contacts {
  display: flex;
  ul {
    padding: 20px;
    list-style: none;
  }
}





