.staff-card {
  display: flex;
  flex-direction: row;
}
.staff-info {
  display: flex;
}
.staff-container {
  margin: 0 auto;
  width: 90%;
}
.staff-name {
  margin-top: 16px;
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 36px;
    }
}
.staff-contact {
  padding: 30px;
}
.staff-bio {
  padding: 30px;
  width: 100%;
}
.staff-image {
  width: 100%;
  border-radius: 5px;
}
@media only screen and (max-width: 600px) {
  .staff-card {
    flex-direction: column;
  }
  .staff-info {
    flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
  .staff-card {
    flex-direction: column;
  }
   .staff-info {
    flex-direction: column;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .staff-card {
    flex-direction: column;
  }
  .staff-image {
    width: 60%;
    margin: 0 auto;
  }
   .staff-info {
    flex-direction: column;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .staff-card {
    flex-direction: column;
  }
  .staff-image {
    width: 80%;
    margin: 0 auto;
  }
}
// -----------------------------------------------------------------

