.staff-info {
  display: flex;
}
.staff-container {
  margin: 0 auto;
  width: 90%;
}
.job-title-text {
  text-align: center;
  margin-top: 0;
  color: $second-color;
  letter-spacing: 0.15rem;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
}
p {
  margin-bottom: 0;
}
.staff-contact {
  padding: 30px;
}
.staff-bio {
  padding: 30px;
  width: 100%;
}
.staff-image {
  text-align: center;
  align-items: center;
  max-height: 600px;
  width: 500px;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}
.staff-job-desc {
  margin: 0 auto;
  text-align: center;
}
.team-show-background{
  background-color: #066579;
}
.block {
  position: relative;
  border-radius: 5px;
}
.vertical-center-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: space-between;
  -ms-flex-pack: center;
  justify-content: space-between;
}

.team-show-background h2 {
  color: $second-color;
  text-align: center;
  margin-top: 0;
  font-size: 6.5vw;
  font-family: "adobe-caslon-pro",serif;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

.team-show-background h5 {
  text-align: center;
  margin-top: 0;
  color: $second-color;
  letter-spacing: 0.1rem;
  font-weight: lighter;
}

/* Large devices (landscape/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .rows {
    display: flex;
  }
}  

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (max-width: 800px) {
 
  .staff-image {
    text-align: center;
    align-items: center;
    max-width: 320px;
    object-fit: cover;
    border-radius: 5px 0px 0px 5px;
  }
  .staff-info {
    flex-direction: column;
  }

  .staff-job-desc {
    h2 {
      font-size: 36px;
      text-align: center;
    }
  }
  .job-title-text {
    font-size: 24px;
    text-align: center;
  }
  .main-col {
    font-size: 18px;
  }
}

@media only screen and (max-width: 500px) {
  .staff-container {
    width: 400px;
  }
  .vertical-center-row {
    flex-direction: column;
  }
  .staff-image {
    max-width: 400px;
    max-height: 500px;
  }
  .staff-job-desc {
    h2 {
      font-size: 44px;
    }
  }
  .job-title-text{
    font-size: 24px;
    text-align: center;
  }
}

@media only screen and (max-width: 410px) {
  .staff-container {
    width: 300px;
  }
  .staff-image {
    max-width: 300px;
    max-height: 400px;
  }
}

// -----------------------------------------------------------------
