<div class="container">
  <br>
  <br>
  <h1 >Experienced,
  trusted experts</h1>
  <br>
  <h3 class="main-col">Our Team</h3>
  <br>
  <section class="abc">
  <%= render 'shared/team-images'%>
  </section>
  <%= link_to 'Back', root_path, class: "home-link" %>

</div>
