<div class="footer mt-auto d-flex justify-content-space-between">
  <div class="container">

    <br>
    <div class="social">
      <ul class="social">
      <li>
        <a href="https://wwww.facebook.com" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-facebook-f" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/home" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/company/biswas-social-impact-advisory/" target="_blank">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <i class="fab fa-linkedin" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    </div>

      <p id='authors'>   <a href='https://www.github.com/lyubodias' target="_blank"> Lyubomir Dias • </a> <a href='https://github.com/Deepbiswas1993' target="_blank"> Deep Biswas </a> </p>
      <p class="sec-col">© 2020 Bisimpact</p>
  </div>

  <p class="powered"><a href="https://www.db-uk.net/" target="_blank">Powered by:  <strong>db</strong> </a></p>
</div>


