<nav>
  <div class="hamburger">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
  </div>
  <div>        <%= image_tag "logo-blue.png", class: "nav-logo" %>
</div>
  <ul class="nav-links">

    <li><a href="#strategy">Strategy</a></li>
    <li><a href="#">Team</a></li>
    <li><a href="#contacts">Contacts</a></li>
  </ul>
</nav>

