<div class="nav-bar">
  <%= image_tag "logo-transparent1.png", class: "nav-logo" %>
  <label for="toggle" class="label-nav">&#9776;</label>
  <input type="checkbox" id="toggle">
  <div class="menu">
    <a href="#strategy">Strategy</a>
    <a href="#">Blog</a>
    <a href="#">Team</a>
    <a href="#contacts">Contacts</a>
  </div>
</div>

