<div class=" text-center mt-5 wrap-videos">
  <h2>Courage and belief can yield unexpected outcomes</h2>
  <p>The best pieces of advice in life are those that enable you to unlock your full potential</p>
  <div class="videos" id="video">

      <iframe width="70%" height="515" src="https://www.youtube.com/embed/Ve2yUJTeRfc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      
  </div>
</div>
